/* TSOS.css */

body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  height: 100vh;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#divConsole {
  overflow-x: hidden;
  overflow-y: hidden;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
  overflow-x: hidden;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#divButtonBar {
  padding: 20px 0 10px 10px;
}

#canvas {
  margin-left: 10px;
  overflow-y: scroll;
}

/* Host Taskbar */
#taskBar {
  background: white;
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-left: 5px;
  width: 50%;
}

#taskBarDisplay {
  padding: 8px;
}

#taskBarStatus {
  color: green;
}

#defaultStatus {
  color: black;
}

.height {
  height: 100vh;
}